<nav style="background-color: #FAF9D0;"> 
    <!-- or white color -->
    <div class="container-fluid">
        <!-- Logo and link -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{url_for('admin')}}">Joylistic Admin</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Logout</a></li>
            <li><a href="{{url_for('home')}}">View Site</a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>
<nav style="background-color:gray; border-width:5px;"></nav>